@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
html {
  scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-contact 1.5s linear forwards;
    animation-delay: 1.2s;
}
@keyframes show-contact{
    100%{
        visibility: visible;
        opacity: 1;
}
}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a{
     font-size: 20px;
     font-weight: 500;
     transition: .5s;
}

.navbar ul li:hover a
/* .navbar ul li.active a{ */{
    color: #d803d8;
} 
.home {
    display: flex;
    align-items: center;
    gap: 70px;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-contact 1.5s linear forwards;
    animation-delay: 1.6s;

}
.home-info h1{
    font-size: 55px ;
}
.home-info h2{
    display: inline-block;
    font-size: 32px;
    margin: 5px;
}
.home-info h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #d803d8;
    animation: display-text 4s linear infinite;
    /* animation-delay: calc(-1s * var(--i)); */
}
@keyframes dispaly-text{
25%,
100% { 
    display:none;
}
}

.home-info h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #d803d8;
    color: #d803d8;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text{
    10%,100%{
        width:0;
    }     
       70%,90%{
        width:100%;
    }     
}

.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;

}
.home-info .btn-sci{
    display: flex;
    align-items: center;

}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: #d803d8;
    border: 2px solid #d803d8;
    border-radius: 40px;
    box-shadow: 0 0 10px #d803d8;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
.btn:hover {
    background: transparent;
    color: #d803d8;
    
}
.home-info .btn-sci .sci {
    margin-left: 20px;
  
}
.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #d803d8;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    margin: 0 8px;
    transition: .5s;
}
 .home-info .btn-sci .sci a:hover{
    background: #d803d8;
    color: #1f242d;
    box-shadow: 0 0 10px #d803d8;
 }
 
 .home-img .img-box{
    position: relative;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
 }
 .home-img .img-box::before,
 .home-img .img-box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(
        transparent, transparent, transparent, #d803d8);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
 }
 .home-img .img-box::after{
    animation-delay: -5s;
 }

 @keyframes rotate-border{
    100%{
        transform: rotate(360deg);
 }
}

 .home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    z-index: 1;
    display: flex;
    border: .1px solid #1f242d;
 }

  .home-img .img-box .img-item img{
    position: absolute;
    top: 20px;
    display: block;
    width: 70%;
    object-fit: cover;
    opacity: 75%;
  }
  
  .bar-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
  }

  .bar-animation .bar{
    width: 100%;
    height: 100%;
    background: #1f242d;
    transform: translateY(-100%);
    animation: show-bar .5s ease-in-out forwards;
    animation-delay: calc(.1s *var(--i));
  }
  
  @keyframes show-bar{
    100%{
        transform: translateY(0%);
  }
}
.about-info{
background-color: #1f242d;
    display: column flex;
    align-items: center;
    gap: 70px;
    height: 50vh;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-contact 1.5s linear forwards;
    animation-delay: 1.6s;

}
.about-info h2{
    color: #d803d8;
    display:inline;
    font-size: 60px;
    margin: 10px;

}
.about-info p{
    font-size: 16px;
    margin: 10px 0 25px;
    align-items: center;

}
.project1 {
    background-color: #1f242d;
    display: column flex ;
    align-items: center;
    gap: 70px;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-contact 1.5s linear forwards;
    animation-delay: 1.6s;
}
.project1 h1{
    font-size: 60px;
    margin: 10px 0px;
    color: #d803d8;
}
.project1 h2{
    text-decoration-line: underline ;
}
.img-text {
    top: 50px;
    display: flex;             
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.img-text img {
    top: 100px;
    width: 100%;
    height: auto;
    border-radius: 5px 20px;
}
.img-text video {
    top: 100px;
    width: 90%;
    height: auto;
    border-radius: 5px 20px;
}

.img-text p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 900px;
}
.Cont-info{
    top: 150px;
  background-color: #1f242d;
    display: column flex ;
    align-items: center;
    gap: 70px;
    height: 70vh;
    padding: 300px 3% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-contact 1.5s linear forwards;
    animation-delay: 1.6s;
}
.cont h1{

    color: #d803d8;
    font-size: 30px;

}
.cont a{
    font-size: 20px;
}